params {
  envFile = "$launchDir/env.sh"
  containerImage = 'docker.io/veupathdb/site-search-data:latest'
 podmanRunOptions = '--sysctl net.ipv6.conf.all.disable_ipv6=1 --network=pasta:"--map-host-loopback=169.254.1.2" --security-opt label=disable'
//  podmanRunOptions = '--cgroups=disabled --security-opt label=disable'
  cleanupOnExit = false
}

workDir = "${params.outputDir}/work"

process {
  maxForks = 4
  container = "${params.containerImage}"
}

podman {
  enabled = true
  runOptions = params.podmanRunOptions
}
