params {
  envFile = "$launchDir/env.sh"
  containerImage = 'docker.io/veupathdb/site-search-data:latest'
  podmanRunOptions = '--cgroups=disabled --security-opt label=disable'
}

workDir = "${params.outputDir}/work"

process {
  maxForks = 4
  container = "${params.containerImage}"
}

podman {
  enabled = true
  runOptions = params.podmanRunOptions
}
