# used to pass properties into the SiteSearchData WDK Model XML files
# we always point to the production user database
# eg: PROJECT_ID=PlasmoDB
PROJECT_ID=$PROJECT_ID
COMMENT_DBLINK=@prodn.login_comment
COMMENT_SCHEMA=userlogins5.
VDI_CONTROL_SCHEMA=$VDI_CONTROL_SCHEMA

