<?xml version="1.0"?>

<modelConfig modelName="$MODEL_DIR/siteSearchModel"
             webServiceUrl="local"
             smtpServer="127.0.0.1"
             supportEmail=""
	     maxTableValueRows="5000000"
             wdkTempDir="/tmp/wdk"
             oauthUrl="$OAUTH_URL"
             oauthClientId="$OAUTH_CLIENT_ID"
             oauthClientSecret="$OAUTH_CLIENT_SECRET"
             >

    <appDb ldapServer="$APPDB_LDAP_SERVER"
           ldapBaseDn="$APPDB_LDAP_BASE_DN"
           ldapCommonName="$APPDB_LDAP_CN"
           login="$APPDB_LOGIN"
           password="$APPDB_PASSWORD"
           userDbLink=""
           remoteUserDataSchema="$APPDB_REMOTE_USER_SCHEMA"
           />

    <userDb ldapServer="$USERDB_LDAP_SERVER"
            ldapBaseDn="$USERDB_LDAP_BASE_DN"
            ldapCommonName="$USERDB_LDAP_CN"
            login="$USERDB_LOGIN"
            password="$USERDB_PASSWORD"
            userSchema="$USERDB_USER_SCHEMA"
            />

    <emailSubject>
      <![CDATA[
          Your Strategies WDK Template Site Password
      ]]>
    </emailSubject>
    <emailContent>
      <![CDATA[
          <p>Thank you for registering at Strategies WDK Template Site.</p>
          <p>Your temporary password is: $$PASSWORD$$</p>
          <p>You may now login to <a href="http://<serverName>/<webappName>">Strategies WDK Template</a>.</p>
          <p>Thanks,</p>
          <p>WDK Development Team</p>
      ]]>
    </emailContent>

</modelConfig>
