# used to pass properties into the SiteSearchData WDK Model XML files
# we always point to the production user database
# eg: PROJECT_ID=PlasmoDB
PROJECT_ID=$PROJECT_ID
VDI_CONTROL_SCHEMA=$VDI_CONTROL_SCHEMA
REMOTE_COMMENT_SCHEMA=$REMOTE_COMMENT_SCHEMA
