# provide connection info for the application database.
# this is used by perl scripts that are part of dumping/loading 
# eg: dbiDsn=dbi:Oracle:plas-inc
dbiDsn=
databaseLogin=
databasePassword=
perl=/usr/bin/perl
